body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 12;
    position: fixed;
}
.checkbtn{
   color: white;
   font-size: 30px;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
#check{
    display: none;
}
.logo{
    margin-left: 30px;
    color: white;
    font-size: 60px;
    cursor: pointer;
}
nav{
    margin-right: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}
.nav{
    position: fixed;
    top: 50px;
    z-index: 2;
    bottom: 100px;
    width: 100%;
    
    
}
.nav ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -30px;
    background-color: black;
    height: 90vh;
    display: flex;
    text-align: center;
    border-top: 1px white solid;
    font-size: 50px;
    transition: all .5s;
    display: none;
}
.nav ul li{
    list-style: none;
    margin: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.nav ul li a:hover{
    color: red
}

.slogan{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.3), #141414d9), url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.slogan h2{
    color: white;
    font-size: 8vw;
    z-index: 1;
    overflow: hidden;
}
.slog{
    color: #222;
    position: relative;
    font-family: 'popins', sans-serif;
}
.slog::before{
    position: absolute;
    content: attr(data-text);
    color: #fff;
    width: 350px;
    border-right: 4px solid #fff;
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate{
    0%, 10%, 100%
    {
        width: 0%
    }
    70%,90%
    {
        width: 100%
    }
}
.fa-brain, .fa-thumbs-up{
    color: red;
}


/************************************ Contents*************************************/
.contents{
    min-height: 100vh;
    margin-top: 0px;
}

/************************************ Petits écrans *************************************/
@media screen and (max-width: 785px){
    .logo{
        font-size: 40px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 645px){
    .logo{
        font-size: 40px;
    }
    .checkbtn{
        display: block;
    }
    nav{
        display: none;
    }
    .nav ul{
        display: block;
        left: -110%;
    } 
    .nav ul.show{
        left: 0;
    }
}