body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 12;
    position: fixed;
}
.logo{
    margin-left: 30px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}
nav{
    margin-right: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}
.slogan{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.3), #141414d9), url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.slogan h2{
    color: white;
    font-size: 8vw;
    z-index: 1;
    overflow: hidden;
}
.slog{
    color: #222;
    position: relative;
    font-family: 'popins', sans-serif;
}
.slog::before{
    position: absolute;
    content: attr(data-text);
    color: #fff;
    width: 350px;
    border-right: 4px solid #fff;
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate{
    0%, 10%, 100%
    {
        width: 0%
    }
    70%,90%
    {
        width: 100%
    }
}
.fa-brain, .fa-thumbs-up{
    color: red;
}


/************************************ Contents*************************************/
.contents{
    min-height: 100vh;
    margin-top: 0px;
}
