body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
    z-index: 12;
    position: fixed;
}
.checkbtn{
   color: white;
   font-size: 30px;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
#check{
    display: none;
}
.logo{
    margin-left: 30px;
    color: white;
    font-size: 60px;
    cursor: pointer;
}
nav{
    margin-right: 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}
.nav{
    position: fixed;
    top: 50px;
    z-index: 4;
    bottom: 100px;
    width: 100%;
    display: none;
}
.nav ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -40px;
    background-color: black;
    height: 90vh;
    display: flex;
    text-align: center;
    border-top: 1px white solid;
    font-size: 50px;
    transition: all .5s;
    display: none;
}
.nav ul li{
    list-style: none;
    margin: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.nav ul li a:hover{
    color: red
}

.slogan{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.3), #141414d9), url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.slogan h2{
    color: white;
    font-size: 8vw;
    z-index: 1;
    overflow: hidden;
}
.slog{
    color: #222;
    position: relative;
    font-family: 'popins', sans-serif;
}
.slog::before{
    position: absolute;
    content: attr(data-text);
    color: #fff;
    width: 350px;
    border-right: 4px solid #fff;
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animate{
    0%, 10%, 100%
    {
        width: 0%
    }
    70%,90%
    {
        width: 100%
    }
}
.fa-brain, .fa-thumbs-up{
    color: red;
}


/************************************ Contents*************************************/
.contents{
    position: absolute;
    top: 600px;
    min-height: 100vh;
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    z-index: 3;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 20px;
}
.card{
    max-width: 300px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    margin: 40px;
    cursor: pointer;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.images{
    height: 200px;
    background-color: aqua;
    background-image: url(images/cerveau.jpg);
    background-size: cover;
    margin: 0px;
}
.step_card{
    color: white;
    padding: 10px;
}
.step_card h3{
    font-weight: bold;
}
.step_card p{
    
}
.voir{
    font-size: 20px;
    padding: 5px;
    background-color: red;
    font-family: sans-serif;
    width: 100px;
    color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}
.voir:hover{
    background-color: #fff;
    color: black;
}

.swiper {
    width: 100%;
    height: 460px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.3), #820b0bd9), url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper h2{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
  }
  .swiper-wrapper{
   
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-pagination-bullet{
    
  }
  .videos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
  }
  .section{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 20px;
  }
  .section h3{
    margin: auto;
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .vid{
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }
  video{
    width: 100%;
  }
  .icone{
    margin-top: 20px;
    margin-left: 2px;
  }
  .like, .dislike, .comments{
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin: 5px;
  }
  .vid h5{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 2px;
  }
  .videos h4{
    color: white;
    background-color: red;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    width: 25%;
    text-align: center;
    margin: 30px auto auto auto;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .videos h4:hover{
    background-color: #fff;
    color: black;
  }
/************************************ Footer *************************************/
  footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
  }
  
  footer h4 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
  }
  
  footer .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer .copyright {
    margin-top: 20px;
    text-align: center;
    color: rgb(9, 178, 235);
  }
  
  footer form {
    margin-top: 20px;
   
  }
  
  footer form label {
    color: #fff;
  }
  
  footer form .form-control {
    background-color: #444;
    border: none;
    border-radius: 0;
    color: #fff;
    height: 40px;
    margin-left: 10px;
  }
  footer form .btn {
    background-color: rgb(9, 178, 235);
    border: none;
    border-radius: 0;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    margin-left: 13px;
  }
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}  
.col-sm-3{
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.col-sm-3 p{
    text-align: justify;
}
.copyright{
    margin-bottom: 10px;
}
.fab.fa-facebook-f{
  color: rgb(0, 132, 255);
}
.fab.fa-twitter{
  color: rgb(0, 166, 255);
}
.fab.fa-instagram{
  color: rgb(201, 19, 146);
}
.fab.fa-pinterest-p{
  color: red;
}
/************************************ Petits écrans *************************************/
@media screen and (max-width: 785px){
    .logo{
        font-size: 40px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 645px){
    .logo{
        font-size: 40px;
    }
    .checkbtn{
        display: block;
    }
    nav{
        display: none;
    }
    .nav{
        display: block;
        left: -110%;
    }
    .nav ul{
        display: block;
        left: -110%;
    } 
    .nav ul.show{
        left: 0;
    }
}